<h2>QUOTES</h2>
<div class="container row"  *ngFor='let quote of quotes; let i= index'>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <p> "{{ quote.theQuote }}" </p>
        <app-quote-details  [quotes]='quotes' (isDelete)='toDelete($event,i)'></app-quote-details>
    </div>
    <div class="col-md-3">
        <h5>Author: {{ quote.author }} </h5>
        <h5>Posted by: {{ quote.name }} </h5>
        <p>Published: {{ quote.publishedDate|timeAgo }} </p>
    </div>
    <div class="col-md-2"></div>
</div>

<app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>


