<header style="border-bottom: 3px solid rgba(148, 52, 54, 1) ;">
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h1> <span style="color: rgba(148, 52, 54, 1); font-family: 'Caveat', cursive;">my</span><span style="color: rgba(58, 68, 39, 1); font-family: 'Caveat', cursive;">Quote</span> </h1>
        </div>
        <div class="col-md-8"></div>
    </div>
</header>


<div class="container row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <img src="./assets/mahatmac.png" alt="Mahatma Gadhi gave inspirational quotes" width="100%">
    </div>
    <div class="col-md-6" style="border-left: 3px solid rgba(148, 52, 54, 1); ">
        <div *ngFor='let quote of quotes; let i= index' style="border: 2px solid lightgray; padding: 5px 5px; margin-top: 5px;">
            <!-- quote -->
            <div>
                <h2> "{{ quote.theQuote }}" </h2>
            </div>

            <div style="line-break: 1em;">
                <p><span style="font-weight: bolder;">Author:</span> {{ quote.author }} </p>
                <p>Posted by {{ quote.name }} </p>
                <p>Published {{ quote.publishedDate|timeAgo }}</p>
            </div>

            <div class="row">
                <app-quote-details  [quotes]='quotes' (isDelete)='toDelete($event,i)'></app-quote-details>
            </div>
            
        </div>
        
        <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>

    </div>
    <div class="col-md-1"></div>
</div>












