

<div class="container row">
   
    <div class=" container row" style="border: 2px solid rgba(148, 52, 54, 0.5);">
        <div class="col-md-4">
            <i (click)='quoteDelete(true)' class="fa fa-trash" style="color: grey;"> <span style="color: rgba(58, 68, 39, 1);" > Delete</span></i>
        </div>
        <div class="row col-md-4">
            <i class="fa fa-thumbs-up" style="color: green;"> <span style="color: rgba(58, 68, 39, 1);" > 7 votes</span></i>
        </div>

        <div class="row col-md-4">
            <i class="fa fa-thumbs-down" style="color: red;"> <span style="color: rgba(58, 68, 39, 1);" > 1 votes</span></i>
        </div>
    </div>
</div>
