<div class="container row">
    <div *ngFor='let quote of quotes; let i= index' style="line-break: 1em;">
        <p>Author: {{ quote.author }} </p>
        <p>Posted by {{ quote.name }} </p>
        <p>Published {{ quote.publishedDate|timeAgo }}</p>
    </div>
    
    <div class="row" style="display: flex; flex-direction: row;" >
        <button (click)='quoteDelete(true)'>Delete Qoute</button>
        <div class="row">
            <button>upvote</button>
            <p>3 vote</p>
        </div>

        <div class="row">
            <button>downvote</button>
            <p>0 vote</p>
        </div>
    </div>
</div>
